.CreateButton{
  position: fixed;
  right: 15px;
  bottom: 15px;
  padding: 8px 13px;
  border-radius: 10px;
  background-color: #eee;
  font-family: "Arial";
  font-size: 3.5rem;
  font-weight: bold;
  border: 1px solid #222;
  color: #555;
  cursor: pointer;
}

.CreateButton:hover{
  background-color: #ccc;
}