.Title{
  width: 100%;
  text-align: center;
  padding: 15px 0;
  cursor: default;
}

.Title h1{
  font-family: Arial;
  font-weight: 600;
  font-size: 4rem;
}

.Counter{
  font-family: Arial;
  font-weight: 500;
  font-size: 3rem;
}

.Counter b{
  color: #222;
}