.TodoCounter{
  width: 100%;
  margin: 10px auto 3px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  cursor: default;
}

.TodoCounter__title {
  font-size: 3rem;
}

.TodoCounter__counter{
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(241, 120, 252, 0.795);
}